<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fur_ever_friend"
        tools:targetApi="33">
        <activity
            android:name=".Show_Booking"
            android:exported="false" />
        <activity
            android:name=".Tracker"
            android:exported="false" />
        <activity
            android:name=".TrackerActivity"
            android:exported="false" />
        <activity
            android:name=".WalkerProfile"
            android:exported="false" />
        <activity
            android:name=".WalkerAppoinment"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyClLlLvZP4vQp2bo9Uih0-f_2LYeE2qhiQ" />

        <activity
            android:name=".UploadImage"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".Dog_Breed_Activity"
            android:exported="false" />
        <activity
            android:name=".Maps_Activity"
            android:exported="false" />

        <receiver
            android:name=".OTP_Receiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SendOTP"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Otp_Validation_Activity"
            android:exported="false" />
        <activity
            android:name=".Forgot_Password_Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="true"
            android:parentActivityName=".LoginActivity" />

        <service
            android:name=".TrackerService"
            android:enabled="true" />
    </application>

</manifest>